* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width:90px;
    height:90px;
}

ul li {
    list-style: none;
    
}

ul {
    gap:30px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  
}